@{
    ViewBag.Title = "Welcome to The Ride You Rent";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">The Ride You Rent</h1>
        <p class="lead">
            The Ride You Rent is a new start-up that hopes to solve that issue by providing drivers with the ability to rent out a car for a specified amount of time to perform their regular e-hailing duties and once done they can return the vehicle and not have to worry about the maintenance.
        </p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="PurposeTitle">
            <p>
                The Ride You Rent has a management system where they can manage drivers, rentals and returns on all their rental vehicles, as well as track any late fees that could be incurred should a driver return a car after the specified rental time.
            </p>
        </section>
    </div>
</main>